.editIput{
	font-weight: bold;
	color: red;
	background: rgba(199, 21, 133, 0.69);
	padding: 10px;
}
.spanClassName {
	font-weight: bold;
	margin-top: 20px;
	font-size: 20px;
	border: 5px solid #0040ff;
}
.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}